@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   body {
      @apply text-grey font-sans text-base;
   }

   p,
   span {
      @apply text-base;
   }

   h1,
   h2,
   h3,
   h4 {
      @apply font-heading text-black font-black uppercase;
   }

   h1 {
      @apply text-2xl;
   }

   h2 {
      @apply text-xl;
   }

   h3 {
      @apply text-lg;
   }

   h4 {
      @apply text-md;
   }
}

@layer components {
   .hero {
      @apply h-[100vh];
   }

   .hero-img {
      /* Dimensions */
      @apply w-[75%] h-[100%] relative;

      .hero-bg,
      .image-container {
         @apply absolute h-[100%] text-nowrap whitespace-nowrap;

         > span {
            /* Text Format */
            @apply font-heading font-black text-2xl uppercase leading-[5.5rem];
            /* Positioning */
            @apply absolute top-[25%] left-[20rem];
         }
      }

      .hero-bg {
         @apply z-[1] w-[40%] bg-black text-white max-lg:hidden overflow-hidden;
      }

      .image-container {
         @apply z-[-1] w-[100%] text-black;
         background-image: url("public/images/hero.jpg");
         background-size: 60%;
         background-position: center;
         background-repeat: no-repeat;
         background-position-x: right;

         @media screen and (max-width: 1440px) {
            background-size: 100%;
            background-position: 12.5rem;
         }

         @media screen and (max-width: 1024px) {
            background-position: 0;
         }
      }
   }
}

@layer utilities {
   .flex-center {
      @apply flex justify-center items-center;
   }

   .margin-center {
      @apply mx-auto;
   }
}
